#container{
    width:1000px; 
    background-color:bisque;
    margin: 0 auto;
}
#header{
    font-size: 40px;
    height: 200px;
}
#header ul>li{display: inline-block;margin: 5px;}/*dàn menu thành hàng ngang*/
#header li:hover{background-color: darkgoldenrod;}
#header ul>li>a>{text-decoration: none;}
#content{
    background-color: chartreuse;
}

#content .product{
    width: 300px;height: 400px;
    background-color: rgb(245, 225, 115);
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
}

#content .product img{
    width: 280px; height: 300px;
}

#content .product:hover img{border-bottom-style:solid  ;}